<!DOCTYPE html>
<html lang="en">
<head>
    <title>staff dashboard</title>
    <link rel="stylesheet" href="/static/stylesheets/staff/trek_edit.css">

    <!-- adding bootstrap -->    
        <!-- Bootstrap Icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <!-- adding main bootstrap -->
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" >


</head>
<body>
    <div id="main">
        <div id="container">
            <!-- -------------------------------------------------top part ------------------------------------------ -->
            <div id="top_part">
                <h1>Dashboard</h1>
                <div>
                    <h1>...</h1>
                </div>
            </div>
            <!-- ------------------------------------------------content------------------------------------ -->
            <div id="content">
                <div style="background-color: rgb(206, 206, 13);text-align: center;">
                    {% for msg in get_flashed_messages() %}
                        {{msg}}
                    {% endfor %}
                </div>
                <div>
                    <form class="row g-1" action="/staff/trek_edit/{{trek.id}}" method="POST"> 
                        <div class="col-md-4">
                            <label for="inputState" class="form-label">Status</label>
                            <select id="inputState" class="form-select" name="status">
                                <option value="open" {% if trek.status == "open" %}selected{% endif %}>
                                    Open
                                </option>

                                <option value="close" {% if trek.status == "close" %}selected{% endif %}>
                                    Close
                                </option>

                                <option value="complete" {% if trek.status == "complete" %}selected{% endif %}>
                                    Complete
                                </option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="inputState" class="form-label">available Slots</label>
                            <input type="number" id="inputState" class="form-control" name="total_slots" value="{{trek.total_slots}}">
                        </div>    
                                            
                        <div class="col-12" >
                            <button type="submit" class="btn btn-primary" style="width: 10%;"> Update </button>
                        </div>
                    </form>
                </div>    
                <div class="col-12" >
                    <a href="/staff/my_treks_page" class="btn btn-primary" style="width: 10%; margin-top: 20px;margin-right: 100px;"> back </a>
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>