<!DOCTYPE html>
<html lang="en">
<head>
    <title>staff dashboard</title>

    <link rel="stylesheet" href="/static/stylesheets/staff/tabel_page.css">

    <!-- adding bootstrap -->    
            <!-- adding icons boostrap -->
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
                
            <!-- adding container bootstrap -->
             <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" >
            
             


</head>
<body>
    <div id="main">
        
        <div id="container">
            <!-- --------------------------------------------left part---------------------------------------------------------- -->
            <div id="left_part">
                <div class="logo">
                    <i class="bi bi-file-person"></i>
                    <h1>Staff</h1>
                </div>
                <div class="line">
                </div>
                <div class="content">
                    <div class="options">
                        <a href="/user/user_dashboard" >Dashboard</a>
                        <a href="/staff/my_treks_page" class="active-menu" >Assigned Treks</a>
                        <a href="/user/user_profile_page">Profile</a>
                    </div>
                    <div class="logout">
                        <a href="/logout"><i class="bi bi-box-arrow-right"></i> Logout </a>
                    </div>
                </div>
            </div>

            <!-- --------------------------------------------right part ----------------------------------------------------- -->
            <div id="right_part">
                 <!-- -------------------------top part ---------------------------------- -->
                <div id="top_part">
                    <h1>
                        Dashboard
                    </h1>
                    <div class="extra">
                        ...
                    </div>
                </div>

                <!-- ---------------------------search box--------------------------------- -->
                 <div id="search" style="padding-left: 380px;">
                    <h1>Staff Assigned: {{this_user.user_name}}</h1>
                </div>
                <div class="flash-card">
                    {% for msg in get_flashed_messages() %}
                        {{ msg }}
                    {% endfor %}
                </div>
                <!-- ---------------------------content------------------------------------- -->
                <div id="content">
                    <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">User name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Booking date</th>
                            <th scope="col">Booking status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for b in booking %}
                        <tr>
                            <td>{{b.user.user_name}}</td>
                            <td>{{b.user.email}}</td>
                            <td>{{b.booking_date}}</td>
                            <td>{{b.booking_status}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                    <a href="/staff/my_treks_page" class="btn btn-secondary" >Back</a>
                </div>
                <!-- --------------------footer------------------------ -->
                <div id="footer">
                     Wheels Treckking Trekker Panel • v1.0
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>