<!DOCTYPE html>
<html lang="en">
<head>
    <title>admin dashboard</title>
    <link rel="stylesheet" href="/static/stylesheets/admin/tabel_page.css">

    <!-- adding bootstrap -->    
        <!-- Bootstrap Icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <!-- main bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" >
    
</head>
<body>
    <div id="main">
        <div id="container">
            <!-- --------------------------------------------left part---------------------------------------------------------- -->
            <div  id="left_part">
                <div class="logo">
                    <i class="bi bi-vector-pen"></i>
                    <h1>Admin</h1>
                </div>
                <div class="line"></div>
                <div class="options">
                    <a href="/admin/admin_dashboard" >Dashboard</a>
                    <a href="/admin/treks_page" >Treks</a>
                    <a href="/admin/bookings_page" class="active-menu">bookings</a>
                    <a href="/admin/staff_page">Staff</a>
                    <a href="/admin/user_page">User</a>
                    <a href="/logout" class="logout">Logout <i class="bi bi-box-arrow-left"></i></a>
                </div>
            </div>

            <!-- --------------------------------------------right part ----------------------------------------------------- -->
            <div id="right_part">
                <!-- --------------------------------------------top part ----------------------------------------------------- -->
                <div id="top_part">
                    <h1>Dashboard</h1>
                    <div class="extra">
                        ...
                    </div>
                </div>
                <!-- -----------------------------------------search part----------------------------- -->
                <div id="search" style="padding-left: 500px;">
                    <h1 >Bookings</h1>
                </div>
                <div id="flash-card">
                    {% for msg in get_flashed_messages() %}
                        {{ msg }}
                    {% endfor %}
                </div>
                
                <!-- --------------------------------------------main part------------------------------------------------ -->
                <div id="content" >
                    <div id="table">
                        <table class="table table-success table-striped" >
                            <thead >
                                <tr>
                                    <th scope="col">User</th>
                                    <th scope="col">Trek</th>
                                    <th scope="col">Difficulty</th>
                                    <th scope="col">booking date</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                        <tbody>
                        {% for b in bookings %}
                            <tr>
                                <td>{{ b.user.user_name }}</td>
                                <td>{{ b.trek.trek_name}}</td>
                                <td>{{ b.trek.difficulty }}</td>
                                <td>{{ b.booking_date }}</td>
                                <td>{{ b.booking_status }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>
                <!---------------------------------------- footer------------------------------------------------------------ -->
                <div class="footer">
                    Wheels Treckking Admin Panel • v1.0
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>