body{
    margin: 0px;
}



#container{
    /* border: 2px solid black; */
    min-height: 100vh;
    display: flex;
    background-color: #F5F9FA;
}

/* ----------------------------------------------left_part--------------------------------------------- */
#left_part{
    box-shadow:0 4px 15px rgba(0,0,0,.08);
    position: fixed;
    width: 20%;
    background-color: #0F4C5C;
    min-height: 100vh;
    color: #F5F9FA;
}
#left_part .logo{
    background-color:#0F4C5C;
    margin-bottom: 10px;
    display: flex;
}   
#left_part .logo i{
    margin-top: 10px;
    padding-top: 7px;
    padding-right: 7px;
    margin-left: 80px;
    font-size: 30px;
    /* font-weight: bold; */
    color: #F5F9FA;
}
#left_part .logo h1{
    margin-top: 20px;
    font-size:30px ;
    /* font-weight: bold; */
    color:#F5F9FA ;
}
#left_part .line{
    height: 2px;
    background-color:#F5F9FA;
    padding: 0px;
    margin: 0px;
    color: #0F4C5C;
}
#left_part .content{
    display: flex;
    flex-direction: column;
    color: #F5F9FA;
}
#left_part .content .options{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#left_part .content .options a{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    text-decoration: none;
    color: #F5F9FA;
}
#left_part .content .options a:hover{
    transition: 0.1s;
    background-color:#146C7D;
    font-weight: bolder;
}
#left_part .content .logout {
    margin-top: 100%;
    text-align: center;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #F5F9FA;

}
#left_part .content .logout a{
    text-decoration: none;
    color: #F5F9FA;
}
#left_part .content .logout:hover{
    transition: 0.1s;
    background-color:#146C7D;
    color: #F5F9FA;
    font-weight: bolder;
}
.active-menu{
    background-color:#146C7D;
    /* font-weight: bolder; */
}


/* ----------------------------------------------right_part--------------------------------------------- */
#right_part{
    width: 80%;
    margin-left: 20%;
}
/* ------------top part--------------- */
#right_part #top_part{
    box-shadow:0 4px 15px rgba(0,0,0,.08);
    width: 77.5%;
    height: 50px;
    margin-left: 10px;
    background-color: #0F4C5C;
    color: #F5F9FA;
    display: flex;
    justify-content: space-between;
    position: fixed;
}
#right_part #top_part h1{
    margin-left: 15px;
    margin-top: 5px;
    font-size: 30px;
    /* font-weight: bold; */
    color: #F5F9FA;
}


/* --------content part--------------- */
#right_part #content{
    min-height: 100vh;
    margin-top: 50px;
    width: 99.5%;
}
/* --------------------------------------card-------------------------- */
/* -----------------card section_1------- */
#right_part #content .card_section_1{
    display: flex;
    
}
#right_part #content .card_section_1 .c_1{
    background: #ffffff;
    border-radius:15px;
    box-shadow:0 4px 15px rgba(0,0,0,.08);
    width: 33%;
    margin-left: 10px;
    margin-top: 10px;
    height: 150px;
    padding-left: 10px;
}
#right_part #content .card_section_1 .c_2{
    background: #ffffff;
    border-radius:15px;
    box-shadow:0 4px 15px rgba(0,0,0,.08);
    width: 33%;
    margin-left: 10px;
    margin-top: 10px;
    height: 150px;

}
#right_part #content .card_section_1 .c_3{
    background: #ffffff;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow:0 4px 15px rgba(0,0,0,.08);
    width: 29%;
    margin-left: 10px;
    margin-top: 10px;
    height: 150px;

}
/* -----------------card section_2------- */
#right_part #content .card_section_2 .c_1{
    background: #ffffff;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow:0 4px 15px rgba(0,0,0,.08);
    width: 97%;
    margin-left: 10px;
    margin-top: 10px;
    min-height: 250px;
}
/* -----------------card section_3------- */
#right_part #content .card_section_3 .c_1{
    background: #ffffff;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow:0 4px 15px rgba(0,0,0,.08);
    width: 97%;
    margin-left: 10px;
    margin-top: 10px;
    min-height: 250px;

}

/* ----------------------footer------------------------------------------------------------ */
#footer{
    height: 100px;
    text-align: center;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #0F4C5C;
    color:#F5F9FA;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    width: 97%;
    font-style: italic;
}