body{
    margin: 0px;
    background-color:white;
    /* background-color:#f3f8f7; */
}
#main{
    height: 100vh;
}
#canvas{
    width: 90%;
    height: 90%;
    margin-left: 60px;
    margin-top: 25px;
    display: flex;
    border-radius: 100px;
    background-color: white;
    /* background-color: #EAF4F1; */
    box-shadow: 10px 15px 20px rgba(30,58,52,0.20)
}
/* -------------------------------------left part---------------------------------------------------- */
#canvas #left_part{
    /* border: 2px solid black; */
    width: 30%;
    border-top-left-radius:100px ;
    border-bottom-left-radius:100px ;
    /* background-color: rgb(75, 129, 160); */
    background-color: #1E3A34;
}
#canvas #left_part .logo{
    /* border: 2px solid black; */
    margin-top: 10%;
    height: 46%;
    margin-left: 46px;
    margin-right: 52px;
    border-top-left-radius:58% ;;
    border-bottom-left-radius:58% ;
    border-top-right-radius:58% ;
    border-bottom-right-radius:58% ;
    background-color: #F5F9F7;
}
#canvas #left_part .logo i{
    font-size: 250px;
    padding:3%;
    /* color:rgb(75, 129, 160); */
    color: #1E3A34;
}
#canvas #left_part h1{
    color: #F5F9F7;
    margin-left: 110px;
    font-size: 30px;
}


/* -------------------------------------right part---------------------------------------------------- */
#canvas #right_part{
    /* border: 2px solid black; */
    width: 70%;
    border-top-right-radius:100px ;
    border-bottom-right-radius:100px ;
    background-color: #F5F9F7;
}
#canvas #right_part .content h1{
    margin-top: 30px;
    margin-left: 80px;
    font-size: 60px;
    /* color:rgb(75, 129, 160); */
    color: #1E3A34;
}
#canvas #right_part .content .form{
    /* border: 2px solid black; */
    height: 400px;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
}
#canvas #right_part .content .form div{
    margin-top: 20px;
    margin-left: 10px;
}
#canvas #right_part .content .form label{
    margin-right: 10px;
    font-size: 25px;
    font-weight: bolder;
    color:#1E3A34;
}
#canvas #right_part .content .form input{
    font-size: 20px ;
    border-radius: 20px;
    padding: 5px 25px;
    border: 1px solid #1E3A34;
    color:#1E3A34;
}
#canvas #right_part .content .form .btn{
    margin-left: 140px;
    margin-top: 50px;
}
#canvas #right_part .content .form .btn button{
    padding: 10px;
    font-size: 20px;
    border-radius:70px;
    width: 70%;
    background-color: #F5F9F7;
    border: 1px solid #1E3A34;
    color: #1E3A34;
}
#canvas #right_part .content .form .btn button:hover{
    background-color:#1E3A34 ;
    color: #F5F9F7;
    font-size: 22px;
    padding: 10px;
}

