<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tracking application</title>
    <link rel="stylesheet" href="/static/stylesheets/landing_page.css">

    <!-- adding bootstrap -->    
        <!-- adding icons boostrap -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>
    <div id="main">
        <div id="canvas">
                <!-- creating naive bar -->
                <div id="header">
                    <div id="navebar">
                        <div class="logo" >
                            <div class="logoimage">
                                <!-- <img src="/static/images/dock.png" > -->
                            </div>
                            <div class="logotext">
                                <h1>
                                    Wheels tracking
                                </h1>
                                <p style="background: #1E3A34;padding-left:20px ;">
                                    explore you destination
                                </p>
                            </div>
                        </div>
                        <div class="a" style="background: #1E3A34;">
                            <a href="/signin_page" class="signin">signin</a>
                            <a href="/login_page" class="login">login</a>
                            <a href="/" class="login"><i class="bi bi-house"></i></a>

                        </div>
                    </div>
                </div>

                <!-- midder/search box -->
                <div id="midder">
                    <h1>Find you next trek</h1>
                    <h3>search trekks and explore your beauty around</h3>
                    <div class="sbox">
                        <input type="text" id="search" placeholder="search trek by name" class="inp">
                        </input>
                    </div>
                </div>

                <!-- cards section -->
                <div id="cardsouterpart">
                    <div id="cardsinnerpart">
                        <div class="c_1">
                            helllo this is my card
                        </div>
                        <div class="c_2">
                            helllo this is my card
                        </div>
                        <div class="c_3">
                            helllo this is my card
                        </div>
                        <div class="c_4">
                            helllo this is my card
                        </div>
                        <div class="c_5">
                            helllo this is my card
                        </div>
                    </div>
                </div>
                <!-- footer part -->
                <div id="footer">
                    <div class="middle">
                        <div class="links">
                            <a href="home.html">Home |</a>
                            <a href="about.html">About us |</a>
                            <a href="contact.html">Contact |</a>
                        </div>
                        <div class="footerinnnerpart">
                            @ Wheels Tracking app : App offering great experience
                        </div>
                    </div>
                </div>
        </div>
    </div>
</body>
</html>