<!DOCTYPE html>
<html lang="en">
<head>
    <title>user dashboard</title>

    <link rel="stylesheet" href="/static/stylesheets/user/tabel_page.css">

    <!-- adding bootstrap -->    
            <!-- adding icons boostrap -->
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
                
            <!-- adding container bootstrap -->
             <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" >
            
             


</head>
<body>
    <div id="main">
        
        <div id="container">
            <!-- --------------------------------------------left part---------------------------------------------------------- -->
            <div id="left_part">
                <div class="logo">
                    <i class="bi bi-file-person"></i>
                    <h1>User</h1>
                </div>
                <div class="line">
                    -
                </div>
                <div class="content">
                    <div class="options">
                        <a href="/user/user_dashboard" >Dashboard</a>
                        <a href="/user/trek_page" class="active-menu">Treks</a>
                        <a href="">History</a>
                        <a href="">Profile</a>
                    </div>
                    <div class="logout">
                        <a href="/logout"><i class="bi bi-box-arrow-right"></i> Logout </a>
                    </div>
                </div>
            </div>

            <!-- --------------------------------------------right part ----------------------------------------------------- -->
            <div id="right_part">
                 <!-- -------------------------top part ---------------------------------- -->
                <div id="top_part">
                    <h1>
                        Dashboard
                    </h1>
                    <div class="extra">
                        ...
                    </div>
                </div>

                <!-- ---------------------------search box--------------------------------- -->
                 <div id="search">
                    <input type="text" placeholder="search by name or id">
                    <button type="button" class="btn btn-primary">Primary</button>
                </div>
                <div class="flash-card">
                    {% for msg in get_flashed_messages() %}
                        {{ msg }}
                    {% endfor %}
                </div>
                <!-- ---------------------------content------------------------------------- -->
                <div id="content">
                    <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Trek name</th>
                            <th scope="col">Difficulty</th>
                            <th scope="col">Location</th>
                            <th scope="col">Available Slots</th>
                            <th scope="col">detail</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for t in trek %}
                        <tr>
                            <td>{{t.trek_name}}</td>
                            <td>{{t.difficulty}}</td>
                            <td>{{t.location}}</td>
                            <td>{{t.available_slots}}</td>
                            <td>
                                <a href="/user/trek_info/{{t.id}}" class="btn btn-info">Trek Info</a>
                            </td>
                            <td>
                                {% if t.available_slots > 0 and t.status == "open" %}
                                    <a href="/user/trek_book/{{t.id}}" class="btn btn-success">Book</a>
                                {% else %}
                                    <a class="btn btn-secondary btn-sm" disabled>Closed</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
                <!-- --------------------footer------------------------ -->
                <div id="footer">
                     Wheels Treckking Trekker Panel • v1.0
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>