<!DOCTYPE html>
<html lang="en">
<head>
    <title>user dashboard</title>

    <link rel="stylesheet" href="/static/stylesheets/user/user_dashboard.css">

    <!-- adding bootstrap -->    
            <!-- adding icons boostrap -->
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
                
            <!-- adding container bootstrap -->
             <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" >
            

</head>
<body>
    <div id="main">
        
        <div id="container">
            <!-- --------------------------------------------left part---------------------------------------------------------- -->
            <div id="left_part">
                <div class="logo">
                    <i class="bi bi-file-person"></i>
                    <h1>User</h1>
                </div>
                <div class="line">
                    -
                </div>
                <div class="content">
                    <div class="options">
                        <a href="/user/user_dashboard" class="active-menu">Dashboard</a>
                        <a href="/user/trek_page">Treks</a>
                        <a href="/user/booking_history">Booking History</a>
                        <a href="/user/user_profile_page">Profile</a>
                    </div>
                    <div class="logout">
                        <a href="/logout"><i class="bi bi-box-arrow-right"></i> Logout </a>
                    </div>
                </div>
            </div>

            <!-- --------------------------------------------right part ----------------------------------------------------- -->
            <div id="right_part">
                 <!-- -------------------------top part ---------------------------------- -->
                <div id="top_part">
                    <h1>
                        Dashboard
                    </h1>
                    <div class="icons">
                        <h1>...</h1>
                    </div>
                </div>
                <!-- ---------------------------content------------------------------------- -->
                <div id="content">
                    <!-- ------card section_1 -->
                    <div class="card_section_1">
                        <div class="c_1" style="padding-left: 20px;padding-top: 20px;">
                               <h3 style="color: grey;">Welcome back</h3>
                                <h1>{{this_user.user_name}}</h1>
                                <p style="color: grey;">{{this_user.date}}</p>
                        </div>
                        <div class="c_2" style="padding-left: 50px;padding-top: 20px;">
                                <h2 style="text-decoration: dotted;color: grey;">Available Treks</h2>
                                <h1 style="padding-left: 60px;">{{treks}}</h1>
                        </div>
                        <div class="c_3" style="padding-left: 40px;padding-top: 20px;">
                                <h2 style="color: grey;">My Bookings</h2>
                                <h1 style="padding-left: 60px;">{{user_bookings}}</h1>
                        </div>
                    </div>
                    <!-- -------car_Section_2-- -->
                     <div class="card_section_2">
                        <div class="c_1">
                            <img src="/static/images/user_bar.png" alt="Bar chart">
                        </div>
                     </div>
                </div>
                <!-- --------------------footer------------------------ -->
                <div id="footer">
                     Wheels Treckking Trekker Panel • v1.0
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>